################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/EcubeWebPortalCMS/v15/Server/sqlite3/db.lock
.vs/config
.vs/EcubeWebPortalCMS/v15/Server/sqlite3
.vs/EcubeWebPortalCMS/v15/.suo
EcubeWebPortalCMS/Banquet/CMSUpload/PDF/Banquet
EcubeWebPortalCMS/bin
EcubeWebPortalCMS/CMSUpload
EcubeWebPortalCMS/Event/QRCode
EcubeWebPortalCMS/Images/Movies
EcubeWebPortalCMS/Movie/QRCode
EcubeWebPortalCMS/obj
EcubeWebPortalCMS/Content/node_modules
*obj
.vs/eCubeMemberCMSWebApp/v15
.vs/VSWorkspaceState.json
.vs/EcubeWebPortalCMS/v16
.vs/EcubeWebPortalCMS/config
.vs/EcubeWebPortalCMS/FileContentIndex/read.lock
.vs/EcubeWebPortalCMS/FileContentIndex/f31bbd67-a731-4a4b-93a5-5eb5e997a10d.vsidx
.vs/EcubeWebPortalCMS/FileContentIndex/93a99ce4-91d1-44d8-88fd-e8af39da6c36.vsidx
.vs/EcubeWebPortalCMS/FileContentIndex/9248bd8a-e603-4381-ad62-20b69a725f21.vsidx
.vs/EcubeWebPortalCMS/FileContentIndex/586e9547-99b9-4fdd-ade8-61b7792dc1e7.vsidx
*.vsidx
.vs/EcubeWebPortalCMS/v17/.suo
.vs/EcubeWebPortalCMS/v17/fileList.bin
.vs/EcubeWebPortalCMS/v17/HierarchyCache.v1.txt
