@{
    ViewBag.Title = "User Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
<div class="row-fluid">
    <div class="span12">
        <h4 class="heading">
            @ViewBag.Title
        </h4>
    </div> 
    <div class="span12 clearfix contant-toph">
        <div class="usearch-text">
            <label>
                Search
            </label>
            <input type="text" id="txtUserLogSearch" />
        </div>
    </div>
    <div class="span12 user-contant">
        <div id="dvUserLog">
            <table id="tblUserLog"></table>
            <div id="dvUserLogFooter"></div>
        </div>
    </div>
</div>
<script src="~/Scripts/Utility/UserLogView.js"></script>