@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Permission Redirect Page";
}
<div>
    <div class="d-flex align-items-center border-bottom pb-2 mb-3 main-form--heading ">
        <h4 class="heading mb-4 m-md-0">
            Permission Level Error
        </h4>
    </div>

    <div class="card shadow rounded overflow-hidden card-space" ">
        <p>We are sorry, you do not have the permissions to view the requested page. </p>
    </div>
</div>
